* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #111111;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-rows: 150px 100% 300px;

  gap: 2px;
}

.header {
  grid-area: header;
  display: grid;
  grid-template:
    "menu-container"
    "navBar-container";
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
}

.menu-container {
  grid-area: menu-container;
  display: grid;
  grid-template: "empty find help join signin";
  grid-template-columns: 1fr repeat(4, auto);
  gap: 2px;
  padding: 2px;
  font-weight: 600;
  color: #ffffffcc;
  background-color: #111111;
}

.empty {
  grid-area: empty;
  margin-right: 10px;
}

.find {
  grid-area: find;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}

.help {
  grid-area: help;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}

.join {
  grid-area: join;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}

.signin {
  grid-area: signin;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}

.navBar-container {
  grid-area: navBar-container;
  display: grid;
  grid-template: "logo navigation searchBar favs cart";
  grid-template-columns: 100px 1fr 250px 70px 70px;
  gap: 2px;
  padding: 2px;
  place-items: center;
  border-bottom: 1px solid grey;
}

.logo {
  grid-area: logo;
  display: grid;
}

.logo > img {
  width: 60px;
  cursor: pointer;
}

.navigation {
  grid-area: navigation;
  display: grid;
  grid-template: "men women kids sale";
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
  place-items: center;
  margin-left: 150px;
  font-size: 18px;
}

.men {
  grid-area: men;
  text-decoration: none;
  cursor: pointer;
}

.women {
  grid-area: women;
  text-decoration: none;
  cursor: pointer;
}

.kids {
  grid-area: kids;
  text-decoration: none;
  cursor: pointer;
}

.sale {
  grid-area: sale;
  margin-right: 9px;
  text-decoration: none;
  cursor: pointer;
}

.men:hover,
.women:hover,
.kids:hover,
.sale:hover {
  text-decoration: underline;
}

.searchBar {
  grid-area: searchBar;
  display: grid;
}

.searchBar > input {
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  width: 170px;
  height: 40px;
  background-color: rgb(221, 220, 220);
  border: none;
}

.searchBar > input::placeholder {
  font-size: 18px;
  color: grey;
  padding-left: 50px;
  padding-top: 5px;
}

.favs {
  grid-area: favs;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.cart {
  grid-area: cart;
  display: grid;
  place-items: center;
  margin-right: 50px;
  cursor: pointer;
}

.main {
  grid-area: main;
  display: grid;
  grid-template: "empty-left-col main-content-col empty-right-col";
  grid-template-columns: 100px 1fr 100px;
  gap: 2px;
  padding: 2px;
  width: 100%;
}

.empty-left-col {
  grid-area: empty-left-col;
  background-color: rgb(221, 220, 220);
}

.main-content-col {
  grid-area: main-content-col;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 2px;
}

.product {
  display: grid;
  grid-template:
    "product-img"
    "product-des"
    "product-price";
  grid-template-rows: 1fr 90px 50px;

  padding: 2px;
  gap: 2px;
  border: 1px dashed black;
}

.product-img {
  grid-area: product-img;
  border: 1px dashed black;
}

.product-des {
  grid-area: product-des;
  border: 1px dashed black;
}

.product-price {
  grid-area: product-price;
  border: 1px dashed black;
}

.addToCartBtn > button {
  margin-left: 200px;
  margin-top: -10px;
  position: relative;
  bottom: 3px;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  background-color: #111111;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
}

.addToCartBtn > button:hover {
  color: green;
}

.empty-right-col {
  grid-area: empty-right-col;
  background-color: rgb(221, 220, 220);
}

.footer {
  grid-area: footer;
  background-color: rgb(221, 220, 220);
  display: grid;
  grid-template:
    "footer-con"
    "rights";
  grid-template-rows: 250px 1fr;
  padding: 12px;
  gap: 2px;
  color: #ffffffcc;
  background-color: #111111;
}

.footer-con {
  grid-area: footer-con;
  display: grid;
  grid-template: "footer-help about contact";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 230px;
  padding: 12px;
  gap: 10px;
}

.footer-help {
  grid-area: footer-help;
  color: #ffffffcc;
  background-color: #111111;
}

.footer-help > p + p {
  margin-top: 15px;
}

.about {
  grid-area: about;
  color: #ffffffcc;
  background-color: #111111;
}

.about > p + p {
  margin-top: 15px;
}

.contact {
  grid-area: contact;
  color: #ffffffcc;
  background-color: #111111;
}

.contact > p + p {
  margin-top: 15px;
}

.rights {
  grid-area: rights;

  background-color: grey;
}

.rights > p {
  margin-left: 15px;
  margin-top: 2px;
}
