* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #111111;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-rows: 150px 1fr 400px;
  gap: 2px;
}

.header {
  grid-area: header;
  border: 1px dashed black;
  display: grid;
  grid-template:
    "menu-container"
    "navBar-container";
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  padding: 2px;
}

.menu-container {
  grid-area: menu-container;
  border: 1px dashed black;
  display: grid;
  grid-template: "empty find help join signin";
  grid-template-columns: 1fr repeat(4, auto);
  gap: 2px;
  padding: 2px;
  font-weight: 600;
  background-color: rgb(221, 220, 220);
}

.empty {
  grid-area: empty;
  margin-right: 10px;
}

.find {
  grid-area: find;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
}

.help {
  grid-area: help;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
}

.join {
  grid-area: join;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
}

.signin {
  grid-area: signin;
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5px;
}

.navBar-container {
  grid-area: navBar-container;
  border: 1px dashed black;
  display: grid;
  grid-template: "logo navigation searchBar favs cart";
  grid-template-columns: 100px 1fr 250px 70px 70px;
  gap: 2px;
  padding: 2px;
}

.logo {
  grid-area: logo;
  border: 1px dashed black;
  display: grid;
  place-content: center;
}

.logo > img {
  width: 60px;
}

.navigation {
  grid-area: navigation;
  border: 1px dashed black;
}

.searchBar {
  grid-area: searchBar;
  border: 1px dashed black;
  display: grid;
}

.searchBar > input {
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  width: 170px;
  height: 40px;
  margin-left: 35px;
  margin-top: 13px;
  background-color: rgb(221, 220, 220);
  border: none;
}

.searchBar > input::placeholder {
  font-size: 18px;
  color: grey;
  padding-left: 50px;
  padding-top: 5px;
}

.favs {
  grid-area: favs;
  border: 1px dashed black;
  display: grid;
  place-items: center;
}

.cart {
  grid-area: cart;
  border: 1px dashed black;
  display: grid;
  place-items: center;
}

.main {
  grid-area: main;
  border: 1px dashed black;
}

.footer {
  grid-area: footer;
  border: 1px dashed black;
  /* margin-top: auto; */
}
